<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.biancheng.mapper.WebsiteMapper">

    <!-- 添加一个网站 -->
    <insert id="addWebsite" parameterType="net.biancheng.po.Website">
        insert into website
            (name,url,age,country)
        values(#{name},#{url},#{age},#{country})
    </insert>

    <!-- 查询所有网站信息 -->
<!--    <select id="selectAllWebsite"-->
<!--            resultType="net.biancheng.po.Website">-->
<!--        select * from website-->
<!--    </select>-->

    <select id="selectAllWebsite"  parameterType="net.biancheng.po.Website"
            resultType="net.biancheng.po.Website">
        select * from website limit #{pageNo},#{pageSize}
    </select>

</mapper>